<div class="body_wrapper notification_top">
    <app-header></app-header>
    <div class="notification_sec all_sec_my">
        <div class="conta_iner">
            <div class="sub_main_heading">
                <h2>Notifications</h2>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./homepage">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="Notification">Notifications</li>
                </ol>
            </nav>
            <div class="notification_box">
                <ul>
                    <li class="first_color new_notification">
                        <div class="inner_notification_div">
                            <a>
                                <figure><img src="../../assets/images/NOTIFICATION_ICON1.png"></figure>
                                <p>Your order is <b>on the way</b></p>
                            </a>

                        </div>
                    </li>
                    <li class="first_color new_notification">
                        <div class="inner_notification_div">
                            <a>
                                <figure><img src="../../assets/images/NOTIFICATION_ICON1.png"></figure>
                                <p>Your order is <b>on the way</b></p>
                            </a>

                        </div>
                    </li>
                    <li class="first_color new_notification">
                        <div class="inner_notification_div">
                            <a>
                                <figure><img src="../../assets/images/NOTIFICATION_ICON1.png"></figure>
                                <p>Your order is <b>on the way</b></p>
                            </a>

                        </div>
                    </li>
                    <li class="first_color new_notification">
                        <div class="inner_notification_div">
                            <a>
                                <figure><img src="../../assets/images/NOTIFICATION_ICON1.png"></figure>
                                <p>Your order is <b>on the way</b></p>
                            </a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>