<div class="footer">
    <div class="green_footer_sec">
        <div class="conta_iner">
            <h2>Don’t feel like going out? No problem, we’ll deliver your order.</h2>
        </div>
    </div>
    <div class="black_footer_sec">
        <div class="conta_iner">
            <div class="footer_main">
                <div class="first_sec footer">
                    <figure><img src="../../assets/images/logo.png"></figure>
                    <ul>
                        <li><i class="fa fa-facebook-f"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="second_sec footer">
                </div>
                <div class="third_sec footer">
                    <div class="third_sec_inner">
                        <ul>

                            <li><a (click)="goTocontact()">Contact Us</a></li>
                        </ul>
                        <ul>
                            <li><a>Log in</a></li>
                            <li><a>Sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="fouth_sec footer">
                    <input type="email" name="input" ng-model="email.text" placeholder="Your email" required>
                    <figure><img src="../../assets/images/telegram-plane.png"></figure>
                </div>
            </div>
            <div class="copy_right">
                <ul>
                    <li><a>Terms and conditions</a></li>
                    <li><a>Privacy</a></li>
                    <li><a>© 2020 Dash</a></li>
                </ul>
            </div>
        </div>
    </div>
    <figure>
        <img src="../../assets/images/screen_footer .png" class="mobile_screen">
    </figure>
</div>