<div class="body_wrapper homepage">
    <app-header></app-header>
    <!-----start banner sec-->
    <section class="home_bann">
        <div class="conta_iner">
            <div class="home_bannouter">
                <div class="home_bann_title">
                    <div>
                        <h3>Find food you love</h3>
                        <h1>Discover the best
                            menus from
                            diverse cuisines</h1>
                        <div class="bann_inputfield">
                            <ul>
                                <li>
                                    <div class="loaction_input">
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="Type a location" name="name">
                                        </mat-form-field>
                                    </div>
                                    <div class="location_icon">
                                        <figure>
                                            <img src="../../../assets/images/homepage/location.png" alt="">
                                        </figure>
                                    </div>
                                </li>
                                <li>
                                    <div class="loaction_input">
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" placeholder="Food and Restaurants…" name="name">
                                        </mat-form-field>
                                    </div>
                                    <div class="location_icon">
                                        <figure>
                                            <img src="../../../assets/images/homepage/search.png" alt="">
                                        </figure>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home_bann_social">
                        <ul>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="9.333" height="16"
                                    viewBox="0 0 9.333 16">
                                    <path id="facebook"
                                        d="M2.667,5.333H0V8H2.667v8h4V8H9.093l.24-2.667H6.667V4.223c0-.637.128-.889.744-.889H9.333V0H6.128c-2.4,0-3.461,1.056-3.461,3.077Z"
                                        fill="#4cb900" />
                                </svg>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13.004"
                                    viewBox="0 0 16 13.004">
                                    <path id="twitter"
                                        d="M16,1.54a6.57,6.57,0,0,1-1.885.517A3.3,3.3,0,0,0,15.559.241a6.568,6.568,0,0,1-2.085.8A3.284,3.284,0,0,0,7.88,4.031,9.323,9.323,0,0,1,1.115.6,3.287,3.287,0,0,0,2.131,4.984,3.277,3.277,0,0,1,.645,4.573a3.287,3.287,0,0,0,2.633,3.26A3.29,3.29,0,0,1,1.8,7.889a3.287,3.287,0,0,0,3.067,2.279A6.606,6.606,0,0,1,0,11.529,9.284,9.284,0,0,0,5.031,13a9.284,9.284,0,0,0,9.331-9.765A6.618,6.618,0,0,0,16,1.54Z"
                                        fill="#4cb900" />
                                </svg>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                    <path id="instagram"
                                        d="M8,16c-2.144,0-2.431-.009-3.3-.049C1.79,15.818.181,14.209.048,11.3.009,10.448,0,10.165,0,8S.009,5.553.048,4.7C.181,1.792,1.79.183,4.7.05,5.563.009,5.822,0,8,0s2.455.009,3.3.05c2.912.132,4.52,1.74,4.651,4.652C15.991,5.569,16,5.856,16,8s-.009,2.432-.049,3.3c-.131,2.91-1.739,4.519-4.651,4.653C10.432,15.991,10.145,16,8,16ZM8,1.443c-2.113,0-2.376.006-3.232.045-2.169.1-3.181,1.111-3.28,3.28C1.452,5.589,1.441,5.837,1.441,8s.011,2.411.047,3.232c.1,2.168,1.113,3.18,3.28,3.28.841.039,1.093.047,3.232.047,2.115,0,2.371-.008,3.233-.047,2.168-.1,3.18-1.109,3.281-3.28.037-.848.045-1.1.045-3.232s-.008-2.382-.045-3.232C14.413,2.6,13.4,1.588,11.233,1.49,10.391,1.451,10.138,1.443,8,1.443ZM8,12.108A4.108,4.108,0,1,1,12.108,8,4.113,4.113,0,0,1,8,12.108ZM8,5.333A2.667,2.667,0,1,0,10.668,8,2.67,2.67,0,0,0,8,5.333Zm4.27-.643a.96.96,0,1,1,.961-.96A.961.961,0,0,1,12.27,4.691Z"
                                        fill="#4cb900" />
                                </svg>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="home_bann_imgbx">
                    <div class="home_bannimg">
                        <figure>
                            <img src="../../../assets/images/homepage/bann_food1.png" alt="">
                        </figure>
                        <div class="location_circle">
                            <figure>
                                <img src="../../../assets/images/homepage/location_circle.png" alt="location circule"
                                    class="location">
                            </figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>




    <section class="all_sec homeprod_cate">
        <div class="conta_iner">
            <div class="homeprod_cateinner">
                <div class="homeprod_catetitle">
                    <a class="subtitle">categories</a>
                </div>
                <div class="home_popularcate">
                    <h3 class="popular_h3">popular categories</h3>
                </div>
                <div class="popular_catelist">
                    <ul>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="popular_pro_bxdiv">
                                <div class="popularround_circle_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/popular_product.png"
                                            alt="popular_prod">
                                    </figure>
                                    <div class="home_popular_prono">
                                        <span>40</span>
                                    </div>
                                </div>
                                <div class="popular_prod_disc">
                                    <h3>Italian</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="home_restaurent">
        <div class="conta_iner">
            <div class="home_restaurentinner">
                <div class="home_restaurent_viewall">
                    <div class="home_restaurent_disc">
                        <div class="homeprod_catetitle">
                            <a class="subtitle">restaurants</a>
                        </div>
                        <div class="home_popularcate">
                            <h3 class="popular_h3">Saved restaurants</h3>
                            <p class="sub_para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                    </div>
                    <div class="home_restaurent_view">
                        <div>
                            <a (click)="goTofoodcategory()">view all</a>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    <figure>
                                        <img src="../../../assets/images/homepage/slider.png" alt="">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../../assets/images/right.png" alt="">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-------start restaurent food items box-->
                <div class="home_restaurent_itembx">
                    <ul>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!-------end restaurent food items box-->

            </div>
        </div>
    </section>

    <section class="all_sec home_bestoffers">
        <div class="conta_iner">
            <div class="home_bestoffer_main">
                <div class="home_restaurent_viewall">
                    <div class="home_restaurent_disc">
                        <div class="home_popularcate">
                            <h3 class="popular_h3">Best Offers</h3>
                            <p class="sub_para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                    </div>
                    <div class="home_restaurent_view">
                        <div>
                            <a (click)="goTofoodcategory()">view all</a>
                        </div>
                        <!-- <div>
                            <ul>
                                <li>
                                    <figure>
                                        <img src="../../../assets/images/homepage/slider.png" alt="">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../../../assets/images/right.png" alt="">
                                    </figure>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <!----start best offers food boxes-->
                <div class="hm_bestoffer_bx">
                    <ul>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_bestoffers_innerbx">
                                <div class="hm_bestoffer_img">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="best_offers_disc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <span>
                                        <figure><img src="../../../assets/images/homepage/perctange.png" alt=""
                                                class="perctange">
                                        </figure>30% Off I Valid Up to $50 order
                                    </span>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <p>42 Jong Panchester St, 9073</p>
                                    <div class="hm_restur_foodtime offer_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="recommende_sec">
        <div class="conta_iner">
            <div class="home_recoominner">
                <div class="home_restaurent_viewall ">
                    <div class="home_restaurent_disc">
                        <div class="home_popularcate">
                            <h3 class="popular_h3">Recommended</h3>
                            <p class="sub_para">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.</p>
                        </div>
                    </div>
                    <div class="home_restaurent_view">
                        <div>
                            <a (click)="goTofoodcategory()">view all</a>
                        </div>
                        <div>
                            <ul>

                                <li>
                                    <figure>
                                        <img src="../../../assets/images/homepage/slider.png" alt="">
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="../../../assets/images/right.png" alt="">
                                    </figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!----------start recommended list-->
                <div class="home_restaurent_itembx home_recommended">
                    <ul>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe Seafood, Mediterranean, Europe </p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="hm_restur_foodbx">
                                <div class="hm_restur_foodimg">
                                    <figure>
                                        <img src="../../../assets/images/homepage/foodimg.jpg" alt="">
                                    </figure>
                                    <div class="hm_restur_rateing">
                                        <figure>
                                            <img src="../../../assets/images/homepage/rateing.png" alt="">
                                        </figure>
                                        <span>4.8</span>
                                    </div>
                                </div>
                                <div class="hm_restur_fooddisc">
                                    <h3>Basic Kneads Pizza</h3>
                                    <p>Seafood, Mediterranean, Europe…</p>
                                    <div class="hm_restur_foodtime">
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/res_time.png" alt="resttime">
                                            </span>
                                            <p>60 Min</p>
                                        </div>
                                        <div class="hm_res_time">
                                            <span>
                                                <img src="../../../assets/images/homepage/rest_money.png"
                                                    alt="resttime">
                                            </span>
                                            <p>06</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
                <!----------end recommended list-->


            </div>
        </div>
    </section>

    <section class="all_sec app_download">
        <div class="conta_iner">
            <div class="app_download_main">
                <div class="app_downloadimg">
                    <figure>
                        <img src="../../../assets/images/homepage/app_download.png" alt="">
                    </figure>
                </div>
                <div class="app_download_link">
                    <a class="subtitle">app</a>
                    <h3>Download the app for android
                        and iOS devices from store</h3>
                    <p>Use our app for more exiting offers and features. Explore our app and
                        Let us know how much do love.</p>
                    <div class="app_download_linkimg">
                        <ul>
                            <li>
                                <figure>
                                    <img src="../../../assets/images/homepage/apple.png" alt="">
                                </figure>
                            </li>
                            <li>
                                <figure>
                                    <img src="../../../assets/images/homepage/andriod.png" alt="">
                                </figure>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>

</div>