<div class="body_wrapper notification_top">
    <app-header></app-header>
    <div class="orders_main all_sec_my">
        <div class="conta_iner">
            <div class="orde_inner">
                <div class="sub_main_heading">
                    <h2>My Orders</h2>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="./homepage">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="orders">My Orders</li>
                    </ol>
                </nav>

                <div class="mattab">
                    <mat-tab-group>
                        <mat-tab label="On-Going">
                            <div class="tab_content">
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Past">

                            <div class="tab_content">
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                                <div class="content_inner" (click)="goToorderdetail()">
                                    <div class="content_description">
                                        <div class="food_img">
                                            <div class="food_img_inner">
                                                <figure><img src="../../assets/images/order1.jpg"></figure>
                                            </div>
                                            <h4>Basic Kneads Pizza<span>KES 29.05</span></h4>
                                        </div>
                                    </div>
                                    <div class="content_schedule">
                                        <div class="schedule_inner">
                                            <h5>On it’s way<span>July 24, 2020, 9:58 AM</span></h5>
                                        </div>
                                        <figure><img src="../../assets/images/right_order.png"></figure>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>