<div mat-dialog-content>
    <div class="login_flow_box">
        <div class="singin_content recoverpassword">
            <div class="signin_left">
            </div>
            <div class="signin_right">
                <div mat-dialog-actions>
                    <!-----------<button mat-button (click)="onNoClick()">No Thanks</button>---->
                    <button mat-button (click)="closeModal()" cdkFocusInitial>
                        <figure><img src="../../assets/images/cross.png"></figure>
                    </button>
                </div>
                <div class="signin_right_inner">
                    <figure><img src="../../assets/images/forgot.png"></figure>
                    <h3>Forgot password</h3>
                    <p>Enter your email and we’ll send you instructions on how to reset your password.</p>
                    <div class="input_field">
                        <ul class="signin_form">
                            <li>
                                <mat-form-field>
                                    <input matInput placeholder="Enter your email address">
                                </mat-form-field>
                            </li>
                        </ul>
                        <button class="signin_btn" (click)="openDialog('verification')">Recover password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>